@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222 84% 5%;
  --card: 0 0% 100%;
  --border: 214 32% 91%;
  --primary: 267 83% 58%;
}

.dark {
  --background: 222 84% 5%;
  --foreground: 210 40% 98%;
  --card: 224 71% 4%;
  --border: 217 33% 17%;
  --primary: 263 70% 63%;
}

body {
  @apply bg-background text-foreground antialiased;
}
